body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
    color: #222;
}

.about-page {
    max-width: 800px;   /* Adjust as needed */
    margin: 40px auto;
    padding: 0 20px;
}

/* .cv-page {
    max-width: 1000px;   /* Adjust as needed */
    margin: 40px auto;
    padding: 0 20px;
} */


.cv-page {
    max-width: 1000px;
    margin: 40px auto;
    padding: 0 20px;
}

.cv-page iframe {
    width: 75%;
    height: 80vh; /* adjust this */
    border: none;
    display: block;
    margin: 0 auto;
}


/* Navigation */

nav {
    background: #111;
    padding: 25px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav a {
    color: white;
    margin-left: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

nav a:hover {
    opacity: 0.7;
}


/* Main container */

.projects {
    width: 100%;
}


/* Individual project */

.project {
    min-height: 38vh;
    background: white;
    margin: 25px 0;
    padding: 30px;

    display: flex;
    gap: 40px;
    align-items: center;

    box-sizing: border-box;
}


/* Left description */

.description {
    flex: 0 0 35%;
}


.description h2 {
    margin-top: 0;
    font-size: 28px;
}


.description p {
    font-size: 17px;
    line-height: 1.5;
}


.description a {
    color: #0066cc;
    font-weight: bold;
    text-decoration: none;
}


.description a:hover {
    text-decoration: underline;
}


/* Media area */

.media-container {
    flex: 1;

    display: flex;
    gap: 20px;

    overflow-x: auto;
    padding: 10px;

    scroll-behavior: smooth;
}


/* scrollbar */

.media-container::-webkit-scrollbar {
    height: 10px;
}

.media-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


/* Images and videos */

.media-container img,
.media-container video {

    height: 300px;
    width: auto;

    border-radius: 8px;
    border: 1px solid #ccc;

    flex-shrink: 0;
}


/* Mobile */

@media(max-width: 900px) {

    .project {
        flex-direction: column;
        align-items: stretch;
    }

    .description {
        flex: none;
    }

    .media-container img,
    .media-container video {
        height: 220px;
    }

}